* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'poppins', sans-serif
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;

}

.logo {
    width: 100px;
}

header {
    margin-top: 10px;
    margin-left: 42px;

}

.link-header {
    font-weight: 43px;
    font-size: 24px;
    line-height: 1px;
    font-weight: 300;

    cursor: pointer;
    margin: 23px;
    flex-direction: end;
    left: 200px;

    justify-content: flex-end;
    padding: 5px;
    margin-top: 100px;
    position: relative;
}

.caixa-texto {
    margin-top: 50px;

}

P {
    width: 400px;

}

button {
    border: none;
    border-radius: 300px;
    font-weight: 20px;
    font-size: medium;
    width: auto;
    cursor: pointer;
    color: aliceblue;
    background-color: blue;
    margin-top: 10px;
}

.img-principal {
    width: 400px;
    margin-top: 20px;

}

.caixa-imagem {

    display: flex;
    margin-top: 0px;
    justify-content: flex-end;

}

.caixa-logo {
    width: 200;

}

.logos {
    width: 100px;
    bottom: 100;
    transform: translateX(600px);

    cursor: pointer;
    transition: 2s;

}

.logo:hover {
    transform: translateY(-25px);

}




.circulooo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}

@media screen and (max-width:1200px) {
    header a {
        display: none;
    }

    .logo {
        width: 300px;
        margin-right: 99px;

    }

    body {
        width: 500px;
    }

    .caixa-texto {
        font-size: 30px;
        margin-left: 50%;


    }

    .caixa-texto button {
        margin-top: 40px;
        font-size: 40px;
    }

    .paragrafo {
        margin-top: 70px;
        margin-left: 50%;
        font-size: 40px;

    }

    .caixa-imagem {
        display: flex;
        justify-content: center;
        margin-right: 400px;
        width: 400px;
        margin-top: 50%;
    }

    .caixa-logo {
        display: block;
        margin-top: 50px;


    }

    .caixa-logo img {
         
         
        width: 100px;
        padding: 30px;
        font-size: 400px
      
         
    }
   


    .circulooo{
        display: block;
        margin-top: 1500px;
        clip-path: circle(500px at center bottom);
        margin-left: 50px;
        width: 400px;
    }

     
}